Package: com.roarijo89.snap
Name: Snapchat hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Login To See Description
Maintainer: Coco Tweaks
Author: roarijo89
Section: roarijo89
Source: https://repo.cocotweaks.net
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.snap
Version: 1.5
