Package: com.roarijo89.gta
Section: _Tweaks_
Maintainer: roarijo89
Author: roarijo89
Architecture: iphoneos-arm
Version: 1.1
Description: read Description 
Name: GTA San Andreas hack
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.gta
