Package: com.180.revoke
Name: no revokes
Author: stemgrade
Description: read description
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Maintainer: stemgrade
Architecture: iphoneos-arm
Section: stem_grade
Depiction: https://repo.cocotweaks.net/description.html?id=com.180.norevoke
Version: 2.0.0
Installed-Size: 692
