Package: com.180.stoprevoke
Name: Stop revokes
Author: stemgrade
Description: read description
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Maintainer: stemgrade
Architecture: iphoneos-arm
Section: stem_grade
Depiction: https://repo.cocotweaks.net/description.html?id=com.180.stoprevoke
Version: 3.0.0
