Package: com.roarijo89.sound
Name: soundcloud hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Login To See Description
Maintainer: roarijo89
Author: roarijo89
Section: roarijo89
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.sound 
Version: 1.1
