Package: com.roarijo89.cydia
Name: Cydia 2021 early version
Depends: mobilesubstrate
Architecture: iphoneos-arm
Maintainer: Coco Tweaks <>
Description: Login To See Description
Author: roarijo89
Section: roarijo89
Source: https://repo.cocotweaks.net
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.cydia
Version: 1.1
