Package: com.roarijo89.IPAS
Section: roarijo89
Maintainer: roarijo89
Architecture: iphoneos-arm
Version: 1.0
Pre-Depends: zip, unzip, ldid, sed, grep, curl
Description: Login To See Description
Name: IPAS
Source: https://repo.cocotweaks.net
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.IPAS
Author: roarijo89
