Package: com.roarijo89.tiny
Name: Tiny Towers hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: read Description
Maintainer: Coco Tweaks
Author: roarijo89
Section: _Tweaks_
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.tiny
Version: 1.1
Installed-Size: 1452
