Package: com.180.knockout
Name: knockout
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13)
Architecture: iphoneos-arm
Description: knockout free in app purchases
Maintainer: StemGrade <stemgrade76545@gmail.com>
Author: StemGrade <stemgrade76545@gmail.com>
Section: stem_grade
Depiction: https://repo.cocotweaks.net/description.html?id=com.180.knockout
Version: 1.0
Installed-Size: 308
