Package: com.roarijo89.cco
Name: cco
Architecture: iphoneos-arm
Description: Login To See Description
Maintainer: roarijo89
Author: roarijo89
Section: roarijo89
Source: https://repo.cocotweaks.net
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.cco
Version: 1.1
