Package: com.roarijo89.cco
Name: cco
Architecture: iphoneos-arm
Description: Read Description
Maintainer: roarijo89
Author: roarijo89
Section: _Tweaks_
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.cco
Tag: role::hacker
Version: 1.1
Installed-Size: 248
