Package: com.roarijo89.simple
Name: simple flex 3
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: read Description
Maintainer: roarijo89
Author: roarijo89
Section: _Tweaks_
Version: 1.1
Depiction: https://repo.cocotweaks.net/description.html?id=com.roarijo89.simple
Installed-Size: 316
