Package: com.roarijo89.icons
Version: 1.5
Architecture: iphoneos-arm
Name: Community Repo Icons
Description: Official Community Repo Icons
Priority: required
Essential: yes
Maintainer: Coco Tweaks
Author: roarijo89
Origin: Coco Tweaks repo
Source: https://repo.cocotweaks.net
Section: System
