Package: com.stem.oled
Name: YT Darker
Author: stem grade
Description: Login To See Description
Depiction: https://repo.cocotweaks.net/description.html?id=com.stem.oled
Depends: mobilesubstrate, preferenceloader
Maintainer: stem grade
Architecture: iphoneos-arm
Section: stem grade
Version: 1.0
Source: https://repo.cocotweaks.net
