Package: com.stem.screenshoot
Name: Screen Shoot 
Author: stem grade
Description: Login To See Description
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.15)
Maintainer: stem grade
Depiction: https://repo.cocotweaks.net/description.html?id=com.stem.screenshoot
Source: https://repo.cocotweaks.net
Architecture: iphoneos-arm
Section: StemGrade
Version: 1.0
